#!/usr/bin/make -f
# -*- makefile -*-

export DH_OPTIONS

export DH_GOPKG := github.com/blakesmith/ar/

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_install:
	dh_auto_install -O--buildsystem=golang

override_dh_auto_test:
	# tests need fixtures that are not installed
